<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link href="static/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/angular.min.js"></script>

    <script src="DashboardApp.js"></script>
    <script src="static/controllers/weatherController.js"></script>
    <script src="static/controllers/ufcController.js"></script>
    <script src="static/controllers/quoteController.js"></script>
    <script src="static/controllers/notesController.js"></script>
    <script src="static/controllers/pinsController.js"></script>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="" class="simple-text">
                    Apartment Livin
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="ufc.html">
                        <i class="pe-7s-graph"></i>
                        <p>UFC</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div ng-include="'weather.html'"></div>
                    <div ng-include="'quotes.html'"></div>
                    <div ng-include="'notes.html'"></div>

                </div>
                <div class="row">
                    <div ng-include="'lightControl.html'"></div>
                    <div ng-include="'pinterest.html'"></div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

