<div class="col-md-4">
    <div class="card ">
        <div class="header">
            <h4 class="title">KAYLA'S LAST PIN</h4>
        </div>

        <div class="content" ng-controller="pinsController">
            <ul class="list-group list-group-flush" >
                <li class="list-group-item">
                    <img src="{{pin.image.original.url}}" width="100%">
                </li>
                <li class="list-group-item">
                    {{pin.note}} <br>
                    <a href="{{pin.link}}">Link</a>
                </li>
            </ul>
        </div>
    </div>
</div>