
<div class="col-md-8">
    <div class="card" style="padding-bottom: 10px;">
        <div class="header">
            <h4 class="title">UFC LINEUP</h4>
            <div id="card-content"  ng-controller="ufcController">
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item" ng-repeat="fight in fights">
                        <p style="font-size:1.2vw; color:#EA4E53;" class="category">{{fight.title_tag_line}}</p>
                        <ul>
                            <li>Date: {{fight.event_date}}</li>
                            <li>Time: {{fight.event_time_text}}{{fight.event_time_zone_text}}</li>
                            <li>Location: {{fight.arena}}{{fight.location}}</li>
                            <li>Description: {{fight.short_description}}</li>
                            <li  style="list-style-type: none;"><img class="ufcImages" src="{{fight.feature_image}}" height="150"></li>
                        </ul>

                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>



