.ufcImages{
    margin: 10px;
    border: 2px solid black;
}

#tempTable{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
#textBox{
    width: 100%;
    height: 150px;
    resize: none;
}


.holdingcolors{
    /* green with light green inner*/
    background: #1AA69B;
    color: #98D4D2;
    color: #026C60;
    /* background between tiles */
    color: #F4F7FE;
    /* pink with light pink inner */
    background: #EF3B7A;
    color: #F89DBC;
    /* button or spinner colors */
    color: #18B5F8;
    background: #57BB59;
    color: #6167D9;
    color: #F4593D;
    /* tile colors */
    color: #FFFFFF;
}