
@font-face {
    font-family: disco;
    src: url('../fonts/DISCO___.ttf');
}
@font-face {
    font-family: open-sans;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: quicksand;
    src: url('../fonts/Quicksand-Regular.otf');
}

*{
    font-family: 'quicksand';
    color: #D0D0D0;
}
h4{
    font-family: 'quicksand';
    font-weight:bold;
    color: #D0D0D0;
    font-size:1.7vw;
}

.ufcImages{
    margin: 10px;
    border: 2px solid black;
}

#tempTable{
    width: 100%;
    text-align: center;
}
#textBox{
    width: 100%;
    height: 85px;
    resize: none;
    background: #424445;
    color: #CC7832;
}
#textBoxButton{
    background: #424445;
    border:none;
}
.content{
    background: #141414;
}

.card{
    padding: 10px 10px 5px 10px;
    margin: 5px 0px 5px 0px;
    background: #333332;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.list-group-item{
    background: #202020;
    border: 2px solid #424445;
}

.tempwindalerts{
    font-size: 1.5vw;
}

.holdingcolors{
    /* green with light green inner*/
    background: #1AA69B;
    color: #98D4D2;
    color: #026C60;
    /* background between tiles */
    color: #F4F7FE;
    /* pink with light pink inner */
    background: #EF3B7A;
    color: #F89DBC;
    /* button or spinner colors */
    color: #18B5F8;
    background: #57BB59;
    color: #6167D9;
    color: #F4593D;
    /* tile colors */
    color: #FFFFFF;
}